 h1 a, h1 a:hover, h1{
    color: #828282;
    font-family: "타이포_스톰 B";
     list-style-type: none;

}

 .newfield{
     margin-top: 3px;
     list-style-type: none;
     font-family: "타이포_스톰 B";
 }
.navbar-brand{
    font-family: "타이포_스톰 B";
}
body {
    background-color: #FBE4F3;
}

.nav-link{
    list-style: none;
}

.textfield {
    color: #828282;
    font-family: 휴먼편지체;
}

.list_post {
    margin-top: 30px;
}
.changeBtn{
    margin-top: 30px;
    background-color: lightgray;
    border-style: none;
    color: white;
}
.saveBtn {
    background-color: lightgray;
    border-style: none;
    color: white;
}
.datefield {
    margin-top: 30px;
    width: 200px;
    color: lavenderblush;
    font-size: 13px;
    background-color: gainsboro;
}

.post {
    margin-top: 30px;
    margin-left: 30px;
}
